<header id="navbar">
    <wcs-action-bar gutter>
        Sample app
        <div slot="actions">
            {{#user}}
                <wcs-dropdown class="wcs-primary" shape="small" style="margin-left: 8px;">
                <div slot="placeholder">{{ user.fullName }}</div>
                    <wcs-dropdown-item>Mon compte</wcs-dropdown-item>
                    <wcs-dropdown-item>Se déconnecter</wcs-dropdown-item>
                </wcs-dropdown>
            {{/user}}
            {{^user}}
                <wcs-button 
                    hx-get="/users/signup" 
                    hx-target="#modal-zone" 
                    hx-swap="innerHTML"
                    hx-disabled-elt 
                    class="wcs-primary" 
                    shape="small"
                    style="margin-right: 16px">
                    S'inscrire
                </wcs-button>
                <wcs-button 
                    hx-get="/login" 
                    hx-target="#modal-zone" 
                    hx-swap="innerHTML"
                    hx-disabled-elt 
                    mode="stroked" 
                    class="wcs-primary" 
                    mode="stroked" 
                    shape="small">
                    Se connecter
                </wcs-button>
            {{/user}}
        </div>
    </wcs-action-bar>

</header>