body {
    margin: 0;
    padding: 0;
    background-color: var(--wcs-light);
}

.error {
    color: var(--wcs-red);
}

.wcs-modal-container {
    animation: growing 0.2s;
}

@keyframes growing {
    0% { 
        transform: scale(0);
    }
    100% { 
        transform: scale(1);
    }
}