body {
    margin: 0;
    padding: 0;
    background-color: var(--wcs-light);
}

.error {
    color: var(--wcs-red);
}

.channel {
    display: flex;
    flex-direction: column;
}

.channel-main {
    display: flex;
    flex-direction: row;
}

.channel-form {
    padding: 16px;
}

.channel-users {
    display: flex;
    flex-direction: column;
}

.channel-users-list > li {
    list-style: none;
    padding: 16px;
    display: block;
}

.message {
    display: flex;
    padding: 16px;
}

.message-header {
    font-weight: 700;
    font-size: 18px;
}

.message-timestamp {
    font-style: italic;
    font-weight: 300;
    font-size: 12px;
}

.wcs-modal-container {
    animation: growing 0.2s;
}

@keyframes growing {
    0% { 
        transform: scale(0);
    }
    100% { 
        transform: scale(1);
    }
}