<div 
    hx-swap-oob="beforeend" 
    hx-target="[x-channel-id=&#22;{{ channel.id }}&#22;]" 
    x-message-id="{{ message.id }}" 
    class="message">
    <p class="message-header">
        {{ message.user.username }} <span class="message-timestamp">à {{ message.user.sentAt }}</span>
    </p>
    <p class="message-content">
        {{ message.user.content }}
    </p>
</div>