<div hx-swap-oob="beforeend:[x-channel-id=&quot;{{ channelId }}&quot;] .channel-messages" >
    <div 
        x-message-id="{{ message.id }}" 
        class="message">
        <p class="message-header">
            {{ author.username }} <span class="message-timestamp">à {{ message.sentAt }}</span>
        </p>
        <p class="message-content">
            {{ message.content }}
        </p>
    </div>
</div>