<style nonce="{{ nonce }}">

    .channel {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .channel-main {
        display: flex;
        flex-grow: 1;
    }

    .message-input {
        margin-right: 8px;
        margin-left: 8px;
    }

    .channel-users {
        width: 250px;
        border-radius: 0;
    }

    .channel-messages {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
        background-color: var(--wcs-white);
    }

    .channel-message-feed {
        flex-grow: 1;
    }

    .message-input-form-field {
        flex-grow: 1;
    }

    .channel-message-form {
        display: flex;
        height: 100%;
        height: 100px;
    }

    .message-input {
        height: 100%;
    }

    .channel-users-list {
        overflow: hidden;
        border-radius: 8px;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    .channel-users-list:first-child {
        margin-top: 0;
    }

    .channel-users-total-connections {
        padding: 8px;
        font-size: 0.8rem;
    }

    .channel-users-list > li {
        padding: 16px;
        text-overflow: ellipsis;
    }

    .channel-message-form {
        padding: 8px;
        display: flex;
        align-items: center;
    }

    .message {
        display: flex;
        flex-direction: column;
        padding: 16px;
    }

    .message-header {
        font-weight: 700;
        font-size: 18px;
    }

    .message-timestamp {
        font-style: italic;
        font-weight: 300;
        font-size: 12px;
    }
</style>