<header id="navbar">
    <wcs-action-bar gutter>
        Sample app
        <div slot="actions">
            {{#user}}
                <wcs-dropdown class="wcs-primary" shape="small" style="margin-left: 8px;">
                <div slot="placeholder">{{ user.fullName }}</div>
                    <wcs-dropdown-item>Un</wcs-dropdown-item>
                    <wcs-dropdown-item>Deux</wcs-dropdown-item>
                    <wcs-dropdown-item>Trois</wcs-dropdown-item>
                </wcs-dropdown>
            {{/user}}
            {{^user}}
                <wcs-button hx-disabled-elt mode="stroked" shape="small" hx-get="/login" hx-target="body" hx-swap="beforeend">Se connecter</wcs-button>
            {{/user}}
        </div>
    </wcs-action-bar>
</header>