<wcs-modal id="login-modal" show show-close-button hx-on="
    wcsDialogClosed: this.remove() 
    login: this.remove()
">
    <style>
        .login-field {
            margin-bottom: 16px;
        }
        #login-header {
            display: flex;
            align-items: center;
        }
        #login-header > .material-icons {
            margin-right: 8px;
        }
        #login-error {
            display: block;
            margin-bottom: 16px;
        }
    </style>
    <div slot="header" id="login-header">
        <span class="material-icons">login</span>
        Login
    </div>
    <form hx-disabled-elt hx-encoding="application/x-www-form-urlencoded" hx-post="/login" hx-swap="none">
        <span id="login-error"></span>
        <wcs-form-field class="login-field">
            <wcs-label>Nom d'utilisateur</wcs-label>
            <wcs-input name="username" placeholder="John doe"></wcs-input>
        </wcs-form-field>
        <wcs-form-field class="login-field">
            <wcs-label>Mot de passe</wcs-label>
            <wcs-input name="password" type="password"></wcs-input>
        </wcs-form-field>
        {{>../security/csrf-input}}
        <wcs-button class="wcs-primary" type="submit">Se connecter</wcs-button>
    </form>
</wcs-modal>