<wcs-modal id="login-modal" show show-close-button hx-on="wcsDialogClosed: this.remove()">
    <style>
        .login-field {
            margin-bottom: 16px;
        }
        #login-header {
            display: flex;
            align-items: center;
        }
        #login-header > .material-icons {
            margin-right: 8px;
        }
        #login-error {
            display: block;
            margin-bottom: 16px;
            animation: fadeIn 1s;
        }

        @keyframes fadeIn {
            0% { opacity: 0; }
            100% { opacity: 1; }
        }
        
    </style>
    <div slot="header" id="login-header">
        <span class="material-icons">login</span>
        Login
    </div>
    <form  
        hx-post="/login" 
        hx-encoding="application/x-www-form-urlencoded" 
        hx-swap="none" 
        hx-disabled-elt
        hx-on::before-request="htmx.find(this, '#login-error').innerHTML = ''">
        <span id="login-error"></span>
        {{#afterSignup}}
            <p>Votre compte a été créé. 👌</p>
            <p>Vous pouvez maintenant vous connecter...</p>
        {{/afterSignup}}
        <wcs-form-field class="login-field">
            <wcs-label>Nom d'utilisateur</wcs-label>
            <wcs-input name="username" placeholder="John doe" required></wcs-input>
        </wcs-form-field>
        <wcs-form-field class="login-field">
            <wcs-label>Mot de passe</wcs-label>
            <wcs-input name="password" type="password" clearOnEdit="false" required>></wcs-input>
        </wcs-form-field>
        {{>../security/csrf-input}}
        <wcs-button class="wcs-primary" type="submit">Se connecter</wcs-button>
    </form>
</wcs-modal>