<div hx-swap-oob="innerHTML:#modal-zone">
    <wcs-modal
        id="login-modal"
        show
        show-close-button 
    >
        {{>style}}
        <div slot="header" id="login-header">
            <span class="material-icons">login</span>
            Login
        </div>
        <form  
            id="login-form"
            hx-post="/login" 
            hx-encoding="application/x-www-form-urlencoded" 
            hx-swap="none" 
            hx-disabled-elt
        >
            <span id="login-error"></span>
            {{#afterSignup}}
                <p>Votre compte a été créé. 👌</p>
                <p>Vous pouvez maintenant vous connecter...</p>
            {{/afterSignup}}
            <wcs-form-field class="login-field">
                <wcs-label>
                    Nom d'utilisateur
                </wcs-label>
                <wcs-input name="username" placeholder="John doe" required></wcs-input>
            </wcs-form-field>
            <wcs-form-field class="login-field">
                <wcs-label>
                    Mot de passe
                </wcs-label>
                <wcs-input name="password" type="password" clearOnEdit="false" required></wcs-input>
            </wcs-form-field>
            {{>../security/csrf-input}}
            <wcs-button class="wcs-primary" type="submit">
                Se connecter
            </wcs-button>
        </form>
    </wcs-modal>
    <script type="module" nonce="{{ nonce }}">
        htmx.on(
            htmx.find('#login-modal'), 
            'wcsDialogClosed', 
            event => event.target.remove()
        )

        htmx.on(
            htmx.find("#login-form"),
            'htmx:beforeRequest',
            event => htmx.find(event.target, '#login-error').innerHTML = ''
        )
    </script>
</div>