<style>
    .login-field {
        margin-bottom: 16px;
    }
    #login-header {
        display: flex;
        align-items: center;
    }
    #login-header > .material-icons {
        margin-right: 8px;
    }
    #login-error {
        display: block;
        margin-bottom: 16px;
        animation: fadeIn 1s;
    }
    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
</style>